.idea
.venv

data/raw_xmi
data/raw_html
data/sentence_tokenized
data/conllu

data/splits

testing_data/sentence_tokenized
testing_data/conllu

downloads
data/raw_xmi
/milestone_1/data/plain_text/
/milestone_1/data/sentence_tokenized

/milestone_2/__pycache__
/milestone_2/ml_flair/__pycache__
/milestone_2/ml_spacy/__pycache__
/milestone_2/preprocessing_gerparcor/__pycache__
/milestone_2/rule_based/__pycache__

/milestone_3/__pycache__
/milestone_3/ml_flair/__pycache__
/milestone_3/ml_spacy/__pycache__
/milestone_3/preprocessing_gerparcor/__pycache__
/milestone_3/rule_based/
/milestone_3/ml_bert/__pycache__
/milestone_3/testing/__pycache__